<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TITULO DE LA PÁGINA -->
    <title>PregunChaco Login</title>

    <!-- CSS PRESONALIZADOS -->
    <link rel="stylesheet" href="estilos/cssLogin.css">
</head>
<body>
    <div class="login-container">
        <img class="image-container" src="imagenes/Logo_PregunChaco_729_376.png" alt="login">
        <div class="login-info-container">
            <h1 class="title">Ingresá con:</h1>
            <div class="social-login">
                <div class="social-login-element">
                    <img class="imagen-social" src="imagenes/google.svg" alt="google-imagen">
                    <span>Google</span>
                </div>
                <div class="social-login-element">
                    <img class="imagen-social" src="imagenes/facebook.svg" alt="facebook-imagen">
                    <span>Facebook</span>
                </div>
            </div>
            <p>o</p>
            <form action="" method="post" class="inputs-container">
                <input type="text" placeholder="Usuario" class="input">
                <input type="text" placeholder="Contraseña" class="input">
                <p>¿Te olvidaste tu Contraseña?: <span class="span">Click acá</span></p>
                <button type="submit" class="btn">Ingresar</button>
                <p>¿No tenés cuenta?: <span class="span">Crea un cuenta</span> </p>
            </form>
        </div>
    </div>
</body>
</html>