<!DOCTYPE html>
<html lang="es-AR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PregunChaco</title>

    <!-- CSS BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- ESTILOS GENERALES -->
    <link rel="stylesheet" href="estilos/cssPreguntas.css">
</head>

<body>
    <div class="contenedor">
        <div class="encabezado">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated animarBarra inicioBarra"
                    role="progressbar" id="barra" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="categoria" id="categoria">
                categoria
            </div>
            <div class="pregunta" id="pregunta">
                Preguntas
            </div>
            <img src="" class="imagen" id="imagen">
        </div>

        <div class="btns" id="btn1" onclick="oprimir_btn(0)">
            Opccion 1
        </div>
        <div class="btns" id="btn2" onclick="oprimir_btn(1)">
            Opccion 2
        </div>
        <div class="btns" id="btn3" onclick="oprimir_btn(2)">
            Opccion 3
        </div>
        <div class="btns" id="btn4" onclick="oprimir_btn(3)">
            Opccion 4
        </div>
        <div type="button" class="btn btn-success" onclick="oprimir_btn(4)" id="siguente">Siguiente
            Pregunta</div>
    </div>


    <!-- JavaScript BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <!-- JavaScript PERSONALIZADO -->
    <script src="js/scripsPreguntas.js"></script>
</body>

</html>