{% extends 'base.html' %} {% block content%}
<link rel="stylesheet" href="/static/css/puntaje.css">
<div class="container mt-3">
    <h1 style="color:ghostwhite">
        Tus ultimas puntuaciones:
    </h1>
    <ul class="list-group">
        {% for p in puntaje%}
        <li class="list-group-item
                           d-flex 
                           justify-content-between 
                           align-items-center
                           rounded-3">
            <h3><strong>{{p.categoria}}</strong></h3>

            <h3><span class="badge bg-success">
                {{p.puntaje}} puntos
            </span></h3>

        </li>
        <p style="text-align: end">Fecha: {{p.update}}</p>
        {% endfor %} {% if puntaje %} {%else%}
        <p class="text-center">Todavia no completaste ninguna trivia</p>
        <a class="btn btn-dark align-content-center" href="{% url 'trivia:categorias' %}">Jugar Ahora</a> {% endif%}
    </ul>
</div>

<head>
    <div>
        <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=6129d8707e9cd40013e2cb0f&product=inline-share-buttons" async="async"></script>
    </div>
</head>

<h3><span class="badge bg-success">
    Comparte tus puntajes:
</span></h3>

<body>
    <div class="sharethis-inline-share-buttons"></div>
</body>

</html>
{%endblock%}