{% include 'navbar.html' %} {% load static %} {% load%}
<!DOCTYPE html>
<html lang="es-AR">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--LOGO-->
    <div class="container-sm">
        <img style="margin-top: 2rem;" src="{% static '/imagenes/Logo_PregunChaco_729_376.png'%}" class="img-fluid" id="imagen" alt="...">
    </div>

    <!-- ENLACES PARA FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icono/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icono/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icono/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icono/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'icono/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="../static/icono/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{% static 'icono/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
</head>
<!-- VUE JS -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/static/css/base.css">

<body background="/media/Fondo_Categorias_1920_1080.png">

    <div id="contenedor-principal" class="container-sm shadow mt-5 mb-2 pt-2 pb-2 rounded-3">
        {% block content %} {% endblock %}
    </div>
</body>{% include 'footer.html' %}

</html>