 {% extends 'base.html' %} {%load static%} {% block content %} 

<!--CSS para cada pregunta-->
<style>
    .botonesCategoria {
        display: flex;
        flex-direction: column;
        height: 4rem;
        width: 50%;
        background-color: #fff;
      }
      
</style>

<form>
    <div class="form-goup">
        <div class="input-group">
            <select name="categoria" class="form-select" id="inputGroupSelect02">
              <option selected name="categoria">Elegir una categoria...</option>
              {% for categoria in categorias %}
              <option value="{{categoria.nombre_categoria}}">{{categoria.nombre_categoria}}</option>
              {% endfor %}
            </select>
            <button class="btn btn-success" id="comenzar-btn">¡EMPEZAR!</button>
        </div>
    </div>
</form>
{% endblock %}