 {% extends 'base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="/static/css/home.css">

<div class="col-md-4 mt-4">
    <div class="card profile-card-5">
        <div class="card-img-block">
            <img class="card-img-top" src="{{user.perfil.imagen_perfil.url}}" alt="Card image cap">
        </div>
        <div class="card-body pt-0">
            <h5 class="card-title">Hola {{user.username}}</h5>
            <p class="card-text">Bienvenido a PregunChaco</p>

        </div>
    </div>
</div>

</div>
</div>
</section>
{% endblock %}