{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script>
    var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
        data() {
            return {
                categoria : '{{categoria}}',
                preguntas : [],
            }
        },
        methods : {
            getPreguntas(){
                var _this = this
                fetch(`/api/pregunchaco/?categoria=${this.categoria}`)
                .then(response => response.json())
                .then(result =>{
                    console.log(result)
                    _this.preguntas = result.data
                })
            },
            checkRespuesta(event, id){

                this.preguntas.map(pregunta =>{
                    respuestas = pregunta.respuestas
                    for(var i=0; i < respuestas.length; i++){
                        if(respuestas[i].respuesta == event.target.value)
                            if(respuestas[i].correcta){
                                console.log('Correcto')
                            }else{
                                console.log('INCORRECTO')
                            }
                    }
                })
                console.log(event.target.value, id)
            }
        },
        created() {
            this.getPreguntas()
            console.log('Pagina Cargada')
        },
    });
</script>


{% endblock scripts%}

{% block content %}
<div id="app">
        <h5>[[categoria]]</h5>
        <hr>
        <div v-for="(pregunta,index) in preguntas" :key="index">
            <img v-bind:src="[pregunta.imagen]" class="rounded mx-auto d-block">
            <h6>[[pregunta.pregunta_enunciado]]</h6>
            <div class="form-check" v-for="respuesta in pregunta.respuestas">
                <input @change="checkRespuesta($event, pregunta.id)" :value="respuesta.respuesta" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  [[respuesta.respuesta]]
                </label>
            </div>
        </div>            
        
</div>
<hr>

{% endblock content%} 
