{% extends 'base.html' %} {% block content%}


<ol class="list-group list-group-numbered">
    {% for p in puntaje%}
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">{{p.categoria}}</div>
            Fecha:
        </div>
        <button type="button" class="btn btn-success">
            Puntaje <span class="badge bg-secondary">{{p.puntaje}}</span>
          </button>

    </li>
    {% endfor %}
</ol>
{% if puntaje %} {%else%}
<p class="text-center">Todavia no completaste ninguna trivia</p>
<a class="btn btn-dark" href="/">Jugar Ahora</a> {% endif%} {% endblock%}