{% extends 'base.html'%} {% load static %}
<link rel="stylesheet" href="/static/css/login.css"> {% block content%}
<div class="container-sm">
    <div class="login">
        <div class="row">
            <h2>Log In</h2>
            <div class="col-md-12">
                <label for="username">Usuario</label>
                <input type="text" class="form-control" id="username" placeholder="usuario">
                <br>
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" placeholder="contraseña">
            </div>
        </div>

        <p>No tenes cuenta?
            <a href="{% url 'usuarios:register_attempt' %}">REGISTRATE</a></p>
        <div class="row">
            <div class="col-md-auto pt-2 ">
                <input type="submit" id="register" value="Signup" class="btn btn-success btn-form">
            </div>
        </div>
    </div>
</div>
</div>
</div> {% endblock %}